<form role="form" autocomplete="off" [formGroup]="emetteurForm" (ngSubmit)="save(emetteurForm)">
  <h4>CONSEIL / REPRESENTANT DE L'EMETTEUR </h4>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group form-group-default required" [class.has-error]="emetteurForm.get('nom').invalid && (emetteurForm.get('nom').dirty || emetteurForm.get('nom').touched)">
        <label>Nom</label>
        <input type="text" class="form-control" name="nom" formControlName="nom">
      </div>

    </div>
    <div class="col-sm-6">
      <div class="form-group form-group-default required" [class.has-error]="emetteurForm.get('prenom').invalid && (emetteurForm.get('prenom').dirty || emetteurForm.get('prenom').touched)">
        <label>Prénom</label>
        <input type="text" class="form-control" name="prenom" formControlName="prenom">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group form-group-default required" [class.has-error]="emetteurForm.get('societe').invalid && (emetteurForm.get('societe').dirty || emetteurForm.get('societe').touched)">
        <label>Société</label>
        <input type="text" class="form-control" name="societe" formControlName="societe">
      </div>

    </div>
    <div class="col-sm-6">
      <div class="form-group form-group-default required" [class.has-error]="emetteurForm.get('tel').invalid && (emetteurForm.get('tel').dirty || emetteurForm.get('tel').touched)">
        <label>Tél</label>
        <input type="text" class="form-control" name="tel" formControlName="tel">
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6">
        <div class="form-group form-group-default required" [class.has-error]="emetteurForm.get('site').invalid && (emetteurForm.get('site').dirty || emetteurForm.get('site').touched)">
          <label>Site web</label>
          <input type="text" class="form-control" name="site" formControlName="site">
        </div>
  
      </div>
      <div class="col-sm-6">
        <div class="form-group form-group-default required" [class.has-error]="emetteurForm.get('email').invalid && (emetteurForm.get('email').dirty || emetteurForm.get('email').touched)">
          <label>E-mail</label>
          <input type="text" class="form-control" name="email" formControlName="email">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <h6>Téléchargez un logo : </h6>
      </div>
      <div class="col-md-6">
        <pg-upload
            Action="{{env}}emissions/upload/logo/{{id}}"
            ListType="picture-card"
            [(FileList)]="fileList"
            [ShowButton]="fileList.length < 1"
            [Preview]="handlePreview">
            <div class="pic-placeholder">
              <i class="fa fa-cloud-upload p-b-5" style="font-size: 21px;"></i>
              <div class="fs-12">Upload</div>
            </div>
          </pg-upload>
      </div>
    
    </div>
  <div class="row">
      <div class="col-sm-12">
        <h6>Souhaitez-vous que votre émission soit publique?</h6>
        <div class="radio radio-success">
          <input type="radio" name="st" id="st1" formControlName="st" value="true">
          <label for="st1">Oui</label>
          <input type="radio"  name="st" id="st2" formControlName="st" value="false">
          <label for="st2">Non</label>
       
        </div>
      
      </div>
  </div>

</form>